.container1 {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.container2 {
  flex-wrap: wrap;
  display: flex;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.container3 {
  flex-wrap: wrap;
  display: flex;
  width: 80vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.button {
  flex-wrap: nowrap;
  margin-left: 0.5rem;
}

.profile {
  width: 400px;
  height: 600px;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  border-radius: 10%;
  justify-items: center;
  align-items: center;
}

.January {
  background: #ffebee;
}

.February {
  background: #fce4ec;
}

.March {
  background: #f3e5f5;
}

.April {
  background: #ede7f6;
}

.May {
  background: #e8eaf6;
}

.June {
  background: #e3f2fd;
}

.July {
  background: #e1f5fe;
}

.August {
  background: #e0f7fa;
}

.September {
  background: #e0f2f1;
}

.October {
  background: #e8f5e9;
}

.November {
  background: #f1f8e9;
}

.December {
  background: #f9fbe7;
}

.Main {
  background: #ffe54c;
  margin: 1.5rem 10rem;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

h2,
h3,
p {
  color: #7f0000;
}

p {
  font-size: 18px;
}
